<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974665835419-c9gnhtb996cj9046nuogdibir4gamakt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974665835419-c9gnhtb996cj9046nuogdibir4gamakt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>974665835419-g3g32ik9ke9vtpvijof4p5rve745t4a6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqagJ7J5A4z0ttEmJkufSlcVuEEa2k0QA</string>
	<key>GCM_SENDER_ID</key>
	<string>974665835419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hakiapp</string>
	<key>PROJECT_ID</key>
	<string>haki-6ef76</string>
	<key>STORAGE_BUCKET</key>
	<string>haki-6ef76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974665835419:ios:41b714ea14ac79264ff73e</string>
</dict>
</plist>